.hero{
    .hero__banner{
        width: 98%;
        z-index: -3;
        margin: 0 auto;
        height: 100dvh;
        overflow: hidden;
        position: relative;
        text-align: center;
        border-radius: 12px;
        align-content: center;
        background-size: cover;
        background-position: center;
        background-image: url('/hero.jpg');

        &::after{
            inset: 0;
            content: '';
            z-index: -2;
            position: absolute;
            background-color: rgba(0, 0, 0, .5);
        }
    }

    .hero__title{
        z-index: -1;
        color: #fff  ;
        font-size: var(--size-2xl);
    }
}


/* xs */
@media (min-width: 29.6875rem) {
    .hero{
        .hero__title{
            font-size: var(--size-4xl);
        }
    }
}

/* lg */
@media (min-width: 64rem) {
    .hero{
        .hero__title{
            font-size: var(--size-5xl);
        }
    }
}